/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.titulo-lista{
    font-weight: bold;
}

dl{
    margin-left: 40px;
}

header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(229, 229, 229, 1);
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2{
    color: rgba(0, 86, 119, 1);
    background-color: rgba(196, 196, 196, 1);
    letter-spacing: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 86, 119, 1);
    line-height: 40px;
}