*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Descuentos e idioma */
.oferta-idioma-moneda{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 8%;
    padding-right: 3%;
}
.idioma-moneda{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* Header */
header{
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    color: white;
}

/* Main - imagen */
.imagen-grande img{
    width: 100%;
}
.imagen-grande{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.imagen-grande .avisos-botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    gap: 12px;
    color: rgba(60, 35, 19, 1);
}
.avisos-botones h1{
    font-size: 30px;
    background-color: white;
    padding: 10px;
}
.avisos-botones h2{
    background-color: rgba(240, 168, 62, 1);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Main - Destacados */
.pawprint-productos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.pawprint-productos ul{
    margin-top: 20px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    gap: 13px;
}
.productos{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 512px){
    .productos{
        flex-direction: column;

    }
}


/* Contacto */
.contacto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contacto h1{
    color: rgba(60, 35, 19, 1);
}
.contacto .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto .info span{
    display: inherit;
    width: 340px;
    height: 40px;
    color: white;
    background-color: rgba(60, 35, 19, 1);
    align-items: center;
    font-size: 9px;
}
.contacto .botones{
    display: flex;
    justify-content: space-around;
}

/* Footer */
footer h3{
    color: white;
    background-color: rgba(34, 34, 34, 1);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}